html{
    background-image: url(/Images/BKGDS/GameWallpaperSceneryNoClouds.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;

}
#clouds{
    position: absolute;
    z-index: -2;
    width: 100%; 
	height: 100%; 
	background-image: url(/Images/BKGDS/clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: slide 100s linear infinite;
}

@keyframes slide {
	from { background-position: 0 0; }
    to { background-position: 100% 0; }
}



#title{
    position: absolute;
    margin-left: 27%;
}

#sprite{
    width: 13%;
    margin-top: 31%;
    
}
#djk{
    width: 20%;
margin-left: 59%;
}

form{
    display: flex;
    flex-direction: column;
}
input{
position: relative;
margin-top: 5%;
border-radius: 5px;
font-size: 30px;
text-align: center;
background-color: rgb(221, 195, 122);
}



button{
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    border: 2px inset rgb(209, 180, 100);
    /* background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
     radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
     background-color: rgba(209, 180, 100, 0.521);
     color: rgb(0, 0, 0);
     text-shadow: 1px 1px 1px rgb(255, 255, 255);
     box-shadow: 1px 1px 1px black;
     margin: auto;
}

.buttonQ{
    border-radius: 10px;
    border: 5px inset rgb(209, 180, 100);

    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(250, 250, 250);
    font-size: 35px;
    text-align: center;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    background-color: rgba(209, 180, 100, 0.548);

    /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
     /* background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
     radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
     height: 125px;
     width: 500px;
     /* box-shadow: 1px 1px 1px black; */
     position: absolute;
     
    }



.button{
    border:10px inset #D1B464;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);     height: 35px;
     width: 35px;
     box-shadow: 1px 1px 1px black;
     
    }


    .buttonBox{
        
        display: block;
        justify-content: center;
        padding: 10px;
        /* background-color: rgba(0, 0, 0, 0.61); */
        /* border:5px inset #D1B464;
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); 
        border-radius: 10px; 
                box-shadow: 1px 1px 1px black;
*/
        width: 38%;
        margin-top: 12%;
        margin-left: 28%;
        position: absolute;

    }

    .optButton{
        border: 5px inset #D1B464;
        border-radius: 10px;
        font-size: 25px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-family:arial, helvetica, sans-serif; 
        text-decoration:none; 
        /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
         background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
         radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);         
         height: 35px;
         width: 75px;
         box-shadow: 1px 1px 1px black;
         position: absolute;
        } 

        #start{
            margin-top: 25%;
        }
    

    #lives{
        margin-top: 12%;
    }

    #score{
        margin-top: 12%;
        margin-left: 62%;
        background-repeat: no-repeat;
    }

    #hint{
        margin-top: 20%;
        margin-left: 15%;
    }
    
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 70px;
    
}

    .button:hover{
     background-color: #ffffff;  
     background-image: linear-gradient(to bottom, #c5bb83, #a29752);
    }
    
    /* .optButton:hover{
        background-color: #ffffff;  
        background-image: linear-gradient(to bottom, #c5bb83, #a29752);
       } */
.keyImg {
  background-image: url(/Images/KhaledKeysNoSymbol.gif);
  color: #FFFFFF;
}